@page
@model FPOManagement.Pages.Auditors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Auditor[0].AuditorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auditor[0].BusinessName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auditor[0].Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Auditor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuditorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BusinessID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BusinessID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BusinessID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
