@page
@model FPOManagement.Pages.Assets.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Asset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Asset.AssetType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.AssetType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.Count)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.Count)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.LiveStockAssetType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.LiveStockAssetType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.HouseType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.HouseType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.HouseAssetType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.HouseAssetType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.LandType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.LandType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.DoesOwn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.DoesOwn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.IrrigrationSource)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.IrrigrationSource)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.PumpType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.PumpType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.Acreage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.Acreage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.Zone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.Zone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.SRO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.SRO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.Village)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.Village)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.SurveyNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asset.SurveyNumber)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Asset.AssetID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
